<?xml version="1.0" encoding="UTF-8"?>
<plugin name="权限设置" version="1.1">


    <extension element-class="com.trs.cms.auth.config.OperationConfig" id="OperationConfigs">

        <!--绩效考核权限（450-600）-->
        <operation name="kpiweb.monitor.search">
            <disp-name>查询</disp-name>
            <desc>绩效考核-->综合实时监测-->查询</desc>
            <index>450</index>
            <type>kpiweb.monitor</type>
        </operation>


        <operation name="kpiweb.operate.handle">
            <disp-name>处理</disp-name>
            <desc>绩效考核-->批量操作-->处理</desc>
            <index>451</index>
            <type>kpiweb.operate</type>
        </operation>
        <operation name="kpiweb.operate.ignore">
            <disp-name>忽略</disp-name>
            <desc>绩效考核-->批量操作-->忽略</desc>
            <index>452</index>
            <type>kpiweb.operate</type>
        </operation>
        <operation name="kpiweb.operate.delete">
            <disp-name>删除</disp-name>
            <desc>绩效考核-->批量操作-->删除</desc>
            <index>453</index>
            <type>kpiweb.operate</type>
        </operation>
        <operation name="kpiweb.operate.delete">
            <disp-name>删除</disp-name>
            <desc>绩效考核-->批量操作-->更新所属部门</desc>
            <index>454</index>
            <type>kpiweb.operate</type>
        </operation>


        <operation name="kpiweb.issue.search">
            <disp-name>查询</disp-name>
            <desc>绩效考核-->待解决问题-->查询</desc>
            <index>455</index>
            <type>kpiweb.issue</type>
        </operation>


        <operation name="kpiweb.warning.search">
            <disp-name>查询</disp-name>
            <desc>绩效考核-->待解决预警-->查询</desc>
            <index>456</index>
            <type>kpiweb.warning</type>
        </operation>


        <operation name="kpiweb.resolved.search">
            <disp-name>查询</disp-name>
            <desc>绩效考核-->已解决问题和预警-->查询</desc>
            <index>457</index>
            <type>kpiweb.resolved</type>
        </operation>


        <operation name="kpiweb.availability.search">
            <disp-name>查询</disp-name>
            <desc>绩效考核-->网站可用性-->查询</desc>
            <index>458</index>
            <type>kpiweb.availability</type>
        </operation>


        <operation name="kpiweb.infoupdate.search">
            <disp-name>查询</disp-name>
            <desc>绩效考核-->信息更新-->查询</desc>
            <index>459</index>
            <type>kpiweb.infoupdate</type>
        </operation>


        <operation name="kpiweb.service.search">
            <disp-name>查询</disp-name>
            <desc>绩效考核-->服务实用-->查询</desc>
            <index>460</index>
            <type>kpiweb.service</type>
        </operation>


        <operation name="kpiweb.infoerror.search">
            <disp-name>查询</disp-name>
            <desc>绩效考核-->信息错误-->查询</desc>
            <index>461</index>
            <type>kpiweb.infoerror</type>
        </operation>


        <operation name="kpiweb.improve.search">
            <disp-name>查询</disp-name>
            <desc>绩效考核-->访问优化-->查询</desc>
            <index>462</index>
            <type>kpiweb.improve</type>
        </operation>
        <operation name="kpiweb.improve.handle">
            <disp-name>批量处理</disp-name>
            <desc>绩效考核-->访问优化-->批量处理</desc>
            <index>463</index>
            <type>kpiweb.improve</type>
        </operation>
        <operation name="kpiweb.improve.ignore">
            <disp-name>批量忽略</disp-name>
            <desc>绩效考核-->访问优化-->批量忽略</desc>
            <index>464</index>
            <type>kpiweb.improve</type>
        </operation>
        <operation name="kpiweb.improve.delete">
            <disp-name>批量删除</disp-name>
            <desc>绩效考核-->访问优化-->批量删除</desc>
            <index>465</index>
            <type>kpiweb.improve</type>
        </operation>


        <operation name="kpiweb.analysis.views">
            <disp-name>访问量查询</disp-name>
            <desc>绩效考核-->用户分析-->访问量查询</desc>
            <index>466</index>
            <type>kpiweb.analysis</type>
        </operation>
        <operation name="kpiweb.analysis.staytime">
            <disp-name>停留时间查询</disp-name>
            <desc>绩效考核-->用户分析-->停留时间查询</desc>
            <index>467</index>
            <type>kpiweb.analysis</type>
        </operation>


        <operation name="kpiweb.statistics.issue">
            <disp-name>问题查询</disp-name>
            <desc>绩效考核-->统计分析-->问题查询</desc>
            <index>468</index>
            <type>kpiweb.statistics</type>
        </operation>
        <operation name="kpiweb.statistics.document">
            <disp-name>稿件查询</disp-name>
            <desc>绩效考核-->统计分析-->稿件查询</desc>
            <index>469</index>
            <type>kpiweb.statistics</type>
        </operation>


        <operation name="kpiweb.monitorsetup.search">
            <disp-name>查询</disp-name>
            <desc>绩效考核-->监测设置-->查询</desc>
            <index>470</index>
            <type>kpiweb.monitorsetup</type>
        </operation>
        <operation name="kpiweb.monitorsetup.updateadmin">
            <disp-name>设置保障人员</disp-name>
            <desc>绩效考核-->监测设置-->设置保障人员</desc>
            <index>471</index>
            <type>kpiweb.monitorsetup</type>
        </operation>
        <operation name="kpiweb.monitorsetup.save">
            <disp-name>保存监测参数</disp-name>
            <desc>绩效考核-->监测设置-->保存监测参数</desc>
            <index>472</index>
            <type>kpiweb.monitorsetup</type>
        </operation>


        <operation name="kpiweb.indexsetup.search">
            <disp-name>查询</disp-name>
            <desc>绩效考核-->监测设置-->查询</desc>
            <index>473</index>
            <type>kpiweb.indexsetup</type>
        </operation>
        <operation name="kpiweb.indexsetup.addprefreq">
            <disp-name>增加预设频率</disp-name>
            <desc>绩效考核-->监测设置-->增加预设频率</desc>
            <index>474</index>
            <type>kpiweb.indexsetup</type>
        </operation>
        <operation name="kpiweb.indexsetup.updateprefreq">
            <disp-name>更新预设频率</disp-name>
            <desc>绩效考核-->监测设置-->更新预设频率</desc>
            <index>475</index>
            <type>kpiweb.indexsetup</type>
        </operation>
        <operation name="kpiweb.indexsetup.deleteprefreq">
            <disp-name>删除预设频率</disp-name>
            <desc>绩效考核-->监测设置-->删除预设频率</desc>
            <index>476</index>
            <type>kpiweb.indexsetup</type>
        </operation>
        <operation name="kpiweb.indexsetup.updatedemandfreq">
            <disp-name>修改按需更新频率</disp-name>
            <desc>绩效考核-->监测设置-->修改按需更新频率</desc>
            <index>477</index>
            <type>kpiweb.indexsetup</type>
        </operation>
        <operation name="kpiweb.indexsetup.addmonitorchnl">
            <disp-name>添加监测栏目</disp-name>
            <desc>绩效考核-->监测设置-->添加监测栏目</desc>
            <index>478</index>
            <type>kpiweb.indexsetup</type>
        </operation>
        <operation name="kpiweb.indexsetup.updatemonitorchnl">
            <disp-name>修改监测栏目的频率</disp-name>
            <desc>绩效考核-->监测设置-->修改监测栏目的频率</desc>
            <index>479</index>
            <type>kpiweb.indexsetup</type>
        </operation>
        <operation name="kpiweb.indexsetup.delmonitorchnl">
            <disp-name>删除监测栏目</disp-name>
            <desc>绩效考核-->监测设置-->删除监测栏目</desc>
            <index>480</index>
            <type>kpiweb.indexsetup</type>
        </operation>
        <operation name="kpiweb.indexsetup.enabledmonitorchnl">
            <disp-name>栏目监测是否启用</disp-name>
            <desc>绩效考核-->监测设置-->栏目监测是否启用</desc>
            <index>481</index>
            <type>kpiweb.indexsetup</type>
        </operation>
        <operation name="kpiweb.indexsetup.addchnltotype">
            <disp-name>栏目分配到所属分类</disp-name>
            <desc>绩效考核-->监测设置-->栏目分配到所属分类</desc>
            <index>482</index>
            <type>kpiweb.indexsetup</type>
        </operation>
        <operation name="kpiweb.indexsetup.updatetypeofchnl">
            <disp-name>修改栏目所属分类</disp-name>
            <desc>绩效考核-->监测设置-->修改栏目所属分类</desc>
            <index>483</index>
            <type>kpiweb.indexsetup</type>
        </operation>
        <operation name="kpiweb.indexsetup.delchnlfromtype">
            <disp-name>从分类中移除栏目</disp-name>
            <desc>绩效考核-->监测设置-->从分类中移除栏目</desc>
            <index>484</index>
            <type>kpiweb.indexsetup</type>
        </operation>

        <operation name="kpiweb.report.search">
            <disp-name>查询</disp-name>
            <desc>绩效考核-->报表-->查询</desc>
            <index>485</index>
            <type>kpiweb.report</type>
        </operation>
        <operation name="kpiweb.report.export">
            <disp-name>导出</disp-name>
            <desc>绩效考核-->报表-->导出</desc>
            <index>486</index>
            <type>kpiweb.report</type>
        </operation>

    </extension>


</plugin>