<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trs.gov.kpi.dao.InfoErrorMapper">


    <!--<resultMap id="infoErrorMap" type="com.trs.gov.kpi.entity.responsedata.InfoErrorResponse">-->
        <!--<id column="id" property="id"/>-->
        <!--<result column="subTypeId" property="issueTypeId"/>-->
        <!--<result column="detail" property="snapshot"/>-->
        <!--<result column="issueTime" property="checkTime"/>-->
        <!--<result column="beginDateTime" property="beginDateTime"/>-->
        <!--<result column="endDateTime" property="endDateTime"/>-->
    <!--</resultMap>-->

    <!--<sql id="Query_Condition_IssueBase">-->
        <!--AND siteId = #{issueBase.siteId}-->
        <!--AND typeId = 3-->
        <!--AND isDel = 0-->
        <!--<if test="issueBase.beginDateTime != null and issueBase.beginDateTime != ''">-->
            <!--AND issueTime-->
            <!--<![CDATA[-->
            <!--&gt;-->
            <!--]]>-->
            <!--#{issueBase.beginDateTime}-->
        <!--</if>-->
        <!--<if test="issueBase.endDateTime != null and issueBase.endDateTime != ''">-->
            <!--AND issueTime-->
            <!--<![CDATA[-->
            <!--<-->
            <!--]]>-->
            <!--#{issueBase.endDateTime}-->
        <!--</if>-->
    <!--</sql>-->


    <!--<sql id="Query_Search_IssueBase">-->
        <!--<if test="issueBase.searchField == 'id'">-->
            <!--AND id LIKE concat('%',#{issueBase.searchText,jdbcType=VARCHAR},'%')-->
        <!--</if>-->
        <!--<if test="issueBase.searchField == 'issueType' and issueBase.searchText != ''">-->
            <!--AND subTypeId IN (-->
            <!--<foreach collection="issueBase.ids" item="item" separator=",">-->
                <!--#{item}-->
            <!--</foreach>-->
            <!--)-->
        <!--</if>-->
        <!--<if test="issueBase.searchField == null or issueBase.searchField == ''">-->
            <!--AND (-->
            <!--id LIKE concat('%',#{issueBase.searchText,jdbcType=VARCHAR},'%')-->
            <!--OR-->
            <!--subTypeId IN (-->
            <!--<foreach collection="issueBase.ids" item="item" separator=",">-->
                <!--#{item}-->
            <!--</foreach>-->
            <!--)-->
            <!--)-->
        <!--</if>-->
    <!--</sql>-->
    <!--<select id="getHandledIssueCount" resultType="int">-->
        <!--SELECT count(1)-->
        <!--FROM issue-->
        <!--WHERE isResolved IN (1,2)-->
        <!--<include refid="Query_Condition_IssueBase"/>-->
    <!--</select>-->

    <!--<select id="getTyposCount" resultType="int">-->
        <!--SELECT count(1)-->
        <!--FROM issue-->
        <!--WHERE isResolved = 0-->
        <!--AND subTypeId = 31-->
        <!--<include refid="Query_Condition_IssueBase"/>-->
    <!--</select>-->

    <!--<select id="getSensitiveWordsCount" resultType="int">-->
        <!--SELECT count(1)-->
        <!--FROM issue-->
        <!--WHERE isResolved = 0-->
        <!--AND subTypeId = 32-->
        <!--<include refid="Query_Condition_IssueBase"/>-->
    <!--</select>-->

    <!--<select id="getUnhandledIssueCount" resultType="int">-->
        <!--SELECT count(1)-->
        <!--FROM issue-->
        <!--WHERE isResolved = 0-->
        <!--<include refid="Query_Condition_IssueBase"/>-->
        <!--<include refid="Query_Search_IssueBase"/>-->
    <!--</select>-->

    <!--<select id="getIssueHistoryCount" resultType="int">-->
        <!--SELECT count(1)-->
        <!--FROM issue-->
        <!--WHERE 1=1-->
        <!--<include refid="Query_Condition_IssueBase"/>-->
    <!--</select>-->


    <!--<select id="getIssueList" resultMap="infoErrorMap">-->
        <!--SELECT id,-->
        <!--subTypeId,-->
        <!--detail,-->
        <!--issueTime-->
        <!--FROM issue-->
        <!--WHERE isResolved = 0-->
        <!--<include refid="Query_Condition_IssueBase"/>-->
        <!--<include refid="Query_Search_IssueBase"/>-->
        <!--limit #{pageIndex},#{pageSize}-->
    <!--</select>-->

</mapper>