<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trs.gov.kpi.dao.InfoErrorMapper">


    <resultMap id="infoErrorMap" type="com.trs.gov.kpi.entity.InfoError">
        <id column="id" property="id"/>
        <result column="subTypeId" property="issueTypeId"/>
        <result column="detail" property="snapshot"/>
        <result column="issueTime" property="checkTime"/>
        <result column="beginDateTime" property="beginDateTime"/>
        <result column="endDateTime" property="endDateTime"/>
    </resultMap>

    <select id="getHandledIssueCount" resultType="int">
        SELECT count(1)
        FROM issue
        WHERE isResolved IN (1,2)
        AND siteId = #{issueBase.siteId}
        AND typeId = 3
        <if test="issueBase.beginDateTime != null">
            AND issueTime
            <![CDATA[
            >
            ]]>
            #{issueBase.beginDateTime}
        </if>
        <if test="issueBase.endDateTime != null">
            AND issueTime
            <![CDATA[
            <
            ]]>
            #{issueBase.endDateTime}
        </if>
    </select>

    <select id="getUnhandledIssueCount" resultType="int">
        SELECT count(1)
        FROM issue
        WHERE isResolved = 0
        AND siteId = #{issueBase.siteId}
        AND typeId = 3
        <if test="issueBase.beginDateTime != null">
            AND issueTime
            <![CDATA[
            >
            ]]>
            #{issueBase.beginDateTime}
        </if>
        <if test="issueBase.endDateTime != null">
            AND issueTime
            <![CDATA[
            <
            ]]>
            #{issueBase.endDateTime}
        </if>
    </select>

    <select id="getIssueHistoryCount" resultType="int">
        SELECT count(1)
        FROM issue
        WHERE siteId = #{infoError.siteId}
        AND typeId = 3
        <if test="infoError.beginDateTime != null">
            AND issueTime
            <![CDATA[
            >
            ]]>
            #{infoError.beginDateTime}
        </if>
        <if test="infoError.endDateTime != null">
            AND issueTime
            <![CDATA[
            <
            ]]>
            #{infoError.endDateTime}
        </if>
    </select>


    <select id="getIssueList" resultMap="infoErrorMap">
        SELECT id,
        subTypeId,
        detail,
        issueTime
        FROM issue
        WHERE siteId = #{infoError.siteId,jdbcType=INTEGER}
        <if test="infoError.id != null">
            AND id LIKE concat('%',#{infoError.id,jdbcType=VARCHAR},'%')
        </if>
        <if test="infoError.search != null">
            AND id LIKE concat('%',#{infoError.search,jdbcType=VARCHAR},'%')
        </if>
        <if test="infoError.beginDateTime != null">
            AND issueTime
            <![CDATA[
            >
            ]]>
            #{infoError.beginDateTime,jdbcType=DATE}
        </if>
        <if test="infoError.endDateTime != null">
            AND issueTime
            <![CDATA[
            <
            ]]>
            #{infoError.endDateTime,jdbcType=DATE}
        </if>
        AND typeId = 3
        AND isResolved = 0
        limit #{currPage},#{pageSize}
    </select>

</mapper>