<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trs.gov.kpi.dao.IssueMapper">
  <resultMap id="BaseResultMap" type="com.trs.gov.kpi.entity.Issue">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="siteId" jdbcType="INTEGER" property="siteId" />
    <result column="typeId" jdbcType="INTEGER" property="typeId" />
    <result column="subTypeId" jdbcType="INTEGER" property="subTypeId" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="issueTime" jdbcType="TIMESTAMP" property="issueTime" />
    <result column="isResolved" jdbcType="BIT" property="isResolved" />
    <result column="isDel" jdbcType="BIT" property="isDel" />
    <result column="customer1" jdbcType="VARCHAR" property="customer1" />
    <result column="customer2" jdbcType="VARCHAR" property="customer2" />
    <result column="customer3" jdbcType="VARCHAR" property="customer3" />
  </resultMap>

  <resultMap id="InfoUpdateMap" type="com.trs.gov.kpi.entity.InfoUpdate">
    <id column="id" property="id"/>
    <result column="siteId" jdbcType="INTEGER" property="siteId" />
    <result column="subTypeId" property="subTypeId"/>
    <result column="detail" property="chnlUrl"/>
    <result column="issueTime" property="checkTime"/>
    <result column="isResolved" jdbcType="BIT" property="isResolved" />
    <result column="isDel" jdbcType="BIT" property="isDel" />
    <result column="customer2" property="chnlId"/>
  </resultMap>

  <resultMap id="InfoErrorMap" type="com.trs.gov.kpi.entity.InfoError">
    <id column="id" property="id"/>
    <result column="siteId" jdbcType="INTEGER" property="siteId" />
    <result column="subTypeId" property="subTypeId"/>
    <result column="detail" property="snapshot"/>
    <result column="issueTime" property="checkTime"/>
    <result column="customer1" property="errorDetail"/>
  </resultMap>

  <resultMap id="LinkAvailabilityMap" type="com.trs.gov.kpi.entity.LinkAvailability">
    <id column="id" property="id"/>
    <result column="subTypeId" property="issueTypeId"/>
    <result column="detail" property="invalidLink"/>
    <result column="customer1" property="snapshot"/>
    <result column="issueTime" property="checkTime"/>
  </resultMap>

  <sql id="Base_Column_List">
    id, siteId, typeId, subTypeId, detail, issueTime, isResolved, isDel, customer1, customer2, 
    customer3
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from issue
    where id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insert" parameterType="com.trs.gov.kpi.entity.dao.DBRow">
    insert into issue
    <foreach collection="fields" item="fieldName" open="(" separator="," close=")">
      ${fieldName}
    </foreach>
    values
    <foreach collection="values" item="value" open="(" separator="," close=")">
      #{value}
    </foreach>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.trs.gov.kpi.entity.Issue">
    update issue
    <set>
      <if test="siteId != null">
        siteId = #{siteId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null">
        typeId = #{typeId,jdbcType=BIT},
      </if>
      <if test="subTypeId != null">
        subTypeId = #{subTypeId,jdbcType=BIT},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="issueTime != null">
        issueTime = #{issueTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isResolved != null">
        isResolved = #{isResolved,jdbcType=BIT},
      </if>
      <if test="isDel != null">
        isDel = #{isDel,jdbcType=BIT},
      </if>
      <if test="customer1 != null">
        customer1 = #{customer1,jdbcType=VARCHAR},
      </if>
      <if test="customer2 != null">
        customer2 = #{customer2,jdbcType=VARCHAR},
      </if>
      <if test="customer3 != null">
        customer3 = #{customer3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.trs.gov.kpi.entity.Issue">
    update issue
    set siteId = #{siteId,jdbcType=INTEGER},
      typeId = #{typeId,jdbcType=BIT},
      subTypeId = #{subTypeId,jdbcType=BIT},
      detail = #{detail,jdbcType=VARCHAR},
      issueTime = #{issueTime,jdbcType=TIMESTAMP},
      isResolved = #{isResolved,jdbcType=BIT},
      isDel = #{isDel,jdbcType=BIT},
      customer1 = #{customer1,jdbcType=VARCHAR},
      customer2 = #{customer2,jdbcType=VARCHAR},
      customer3 = #{customer3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <sql id="where_foreach_field_sql">
    <foreach collection="fieldNames" item="fieldName">
      <if test="condField.fieldName == fieldName">
        <if test="condField.isLike">
          ${fieldName} like #{condField.condValue}
        </if>
        <if test="condField.isEqual">
          ${fieldName} = #{condField.condValue}
        </if>
        <if test="condField.isRangeBegin">
          ${fieldName}
          <![CDATA[
           >=
          ]]>
          #{condField.condValue}
        </if>
        <if test="condField.isRangeEnd">
          ${fieldName}
          <![CDATA[
                 <=
              ]]>
          #{condField.condValue}
        </if>
        <if test="condField.isCollection">
          ${fieldName} in
          <foreach collection="condField.condValue" index="index" item="item" open="(" separator=","
                   close=")">
            #{item}
          </foreach>
        </if>
      </if>
    </foreach>
  </sql>

  <sql id="where_sql">
    <if test="condFields != null">
      AND
      <foreach collection="condFields" item="condField" separator=" AND ">
        <include refid="where_foreach_field_sql"></include>
        <if test='condField.fieldName == "OR_COMPLEX_FIELD"'>
          <foreach collection="condField.condValue.fields" index="index" item="condField" open="("
                   separator=" OR " close=")">
            <include refid="where_foreach_field_sql"></include>
          </foreach>
        </if>
      </foreach>
    </if>
  </sql>

  <sql id="order_sql">
    <if test="sortFields != null">
      ORDER BY
      <foreach collection="sortFields" item="sortField" separator=",">
        <foreach collection="fieldNames" item="fieldName">
          <if test='sortField.fieldName == fieldName'>
            ${fieldName}
            <if test="sortField.isAsc">
              ASC
            </if>
            <if test="!sortField.isAsc">
              DESC
            </if>
          </if>
        </foreach>
      </foreach>
    </if>
  </sql>

  <sql id="group_sql">
    <if test="groupFields != null">
      GROUP BY
      <foreach collection="groupFields" item="groupField" separator=",">
        ${groupField}
      </foreach>
    </if>
  </sql>

  <sql id="page_sql">
    <if test="pager != null">
      limit #{pager.offset},#{pager.count}
    </if>
  </sql>

  <sql id="all_conditions_sql">
    <include refid="where_sql"/>
    <include refid="group_sql"/>
    <include refid="order_sql"/>
    <include refid="page_sql"/>
  </sql>

  <select id="select" parameterType="com.trs.gov.kpi.entity.dao.QueryFilter" resultType="com.trs.gov.kpi.entity.Issue">
    SELECT
    *
    FROM issue WHERE 1=1
    <include refid="all_conditions_sql"/>
  </select>

  <select id="count" parameterType="com.trs.gov.kpi.entity.dao.QueryFilter" resultType="int">
    SELECT
    count(1)
    FROM issue WHERE 1=1
    <include refid="all_conditions_sql"/>
  </select>

  <select id="selectInfoUpdate" parameterType="com.trs.gov.kpi.entity.dao.QueryFilter" resultMap="InfoUpdateMap">
    SELECT
    *
    FROM issue WHERE 1=1
    <include refid="all_conditions_sql"/>
  </select>

  <select id="selectInfoError" parameterType="com.trs.gov.kpi.entity.dao.QueryFilter" resultMap="InfoErrorMap">
    SELECT
    *
    FROM issue WHERE 1=1
    <include refid="all_conditions_sql"/>
  </select>

  <select id="selectLinkAvailability" parameterType="com.trs.gov.kpi.entity.dao.QueryFilter" resultMap="LinkAvailabilityMap">
    SELECT
    *
    FROM issue WHERE 1=1
    <include refid="all_conditions_sql"/>
  </select>

  <select id="getEarliestIssueTime" resultType="java.util.Date">
    SELECT min(issueTime)
    FROM issue
  </select>

  <sql id="siteid_and_ids_where_sql">
    WHERE siteId = ${siteId}
    AND id IN
    <foreach collection="ids" item="item" open="(" close=")" separator=",">
      ${item}
    </foreach>
  </sql>

  <update id="handIssuesByIds" parameterType="java.util.List">
    UPDATE issue
    SET isResolved = 1
    <include refid="siteid_and_ids_where_sql"/>
  </update>

  <update id="ignoreIssuesByIds" parameterType="java.util.List">
    UPDATE issue
    SET isResolved = 2
    <include refid="siteid_and_ids_where_sql"/>
  </update>

  <update id="delIssueByIds" parameterType="java.util.List">
    UPDATE issue
    SET isDel = 1
    <include refid="siteid_and_ids_where_sql"/>
  </update>

  <select id="getIdsUpdateNotInTime" resultType="int">
    SELECT
    customer2
    FROM issue WHERE 1=1
    <include refid="all_conditions_sql"/>
  </select>

  <select id="countList" parameterType="com.trs.gov.kpi.entity.dao.QueryFilter" resultType="java.util.Map">
    SELECT
    customer2,count(1)
    FROM issue WHERE 1=1
    <include refid="all_conditions_sql"/>
  </select>

  <select id="getIndexUrl" resultType="String">
    SELECT indexUrl
    FROM monitorsite
    WHERE siteId = #{param.siteId}
  </select>

  <select id="getIndexAvailability" resultType="int">
    SELECT count(1)
    FROM issue
    WHERE 1=1
    <include refid="where_sql"/>
  </select>

  <select id="getMonitorTime" resultType="java.sql.Date">
    SELECT issueTime
    FROM issue
    WHERE 1=1
    <include refid="where_sql"/>
    ORDER BY issueTime DESC LIMIT 1
  </select>

</mapper>