<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trs.gov.kpi.dao.LinkAvailabilityMapper">



    <resultMap id="linkAvailabilityMap" type="com.trs.gov.kpi.entity.LinkAvailability">
        <id column="id" property="id"/>
        <result column="subTypeId" property="issueTypeId"/>
        <result column="detail" property="invalidLink"/>
        <result column="customer1" property="snapshot"/>
        <result column="issueTime" property="checkTime"/>
        <result column="beginDateTime" property="beginDateTime"/>
        <result column="endDateTime" property="endDateTime"/>
    </resultMap>

    <sql id="Query_Condition_IssueBase">
        AND siteId = #{issueBase.siteId}
        AND typeId = 1
        AND isDel = 0
    </sql>

    <sql id="Query_StartEndTime_IssueBase">
        <if test="issueBase.beginDateTime != null and issueBase.beginDateTime != ''">
            AND issueTime
            <![CDATA[
                >
                ]]>
            #{issueBase.beginDateTime}
        </if>
        <if test="issueBase.endDateTime != null and issueBase.endDateTime != ''">
            AND issueTime
            <![CDATA[
            <
            ]]>
            #{issueBase.endDateTime}
        </if>
    </sql>

    <sql id="Query_Search_IssueBase">
        <if test="issueBase.searchField == 'id'">
            AND id LIKE concat('%',#{issueBase.searchText,jdbcType=VARCHAR},'%')
        </if>
        <if test="issueBase.searchField == 'issueType' and issueBase.searchText != ''">
            AND subTypeId IN (
            <foreach collection="issueBase.ids" item="item" separator=",">
                #{item}
            </foreach>
            )
        </if>
        <if test="issueBase.searchField == null or issueBase.searchField == ''">
            AND (
            id LIKE concat('%',#{issueBase.searchText,jdbcType=VARCHAR},'%')
            OR
            subTypeId IN (
            <foreach collection="issueBase.ids" item="item" separator=",">
                #{item}
            </foreach>
            )
            )
        </if>
    </sql>

    <select id="getHandledIssueCount" resultType="int">
        SELECT count(1)
        FROM issue
        WHERE isResolved IN (1,2)
        <include refid="Query_Condition_IssueBase"/>
        <include refid="Query_StartEndTime_IssueBase"/>
    </select>


    <sql id="where_cond_field">
        <if test="condFields != null">
            <foreach collection="condFields" item="condField">
                <if test="condField.fieldName == 'siteId'">
                    <if test="condField.isLike">
                        siteId like #{condField.condValue} AND
                    </if>
                    <if test="condField.isEqual">
                        siteId = #{condField.condValue} AND
                    </if>
                </if>
                <if test="condField.fieldName == 'id'">
                    <if test="condField.isLike">
                        id like #{condField.condValue} AND
                    </if>
                    <if test="condField.isEqual">
                        id = #{condField.condValue} AND
                    </if>
                </if>
                <if test="condField.fieldName == 'typeId'">
                    <if test="condField.isLike">
                        typeId like #{condField.condValue} AND
                    </if>
                    <if test="condField.isEqual">
                        typeId = #{condField.condValue} AND
                    </if>
                </if>
                <if test="condField.fieldName == 'subTypeId'">
                    <if test="condField.isLike">
                        subTypeId like #{condField.condValue} AND
                    </if>
                    <if test="condField.isEqual">
                        subTypeId = #{condField.condValue} AND
                    </if>
                </if>
                <if test="condField.fieldName == 'issueTime'">
                    <if test="condField.isBeginTime">
                        issueTime >= #{condField.condValue} AND
                    </if>
                    <if test="condField.isEndTime">
                        <![CDATA[
                          issueTime <= #{condField.condValue} AND
                        ]]>
                    </if>
                </if>
                <if test="condField.fieldName == 'isResolved'">
                    <if test="condField.isLike">
                        isResolved LIKE #{condField.condValue} AND
                    </if>
                    <if test="condField.isEqual">
                        isResolved = #{condField.condValue} AND
                    </if>
                </if>
                <if test="condField.fieldName == 'isDel'">
                    <if test="condField.isLike">
                        isDel LIKE #{condField.condValue} AND
                    </if>
                    <if test="condField.isEqual">
                        isDel = #{condField.condValue} AND
                    </if>
                </if>
                <if test="condField.fieldName == 'subTypeId'">
                    <if test="condField.isLike">
                        subTypeId LIKE #{condField.condValue} AND
                    </if>
                    <if test="condField.isEqual">
                        subTypeId = #{condField.condValue} AND
                    </if>
                    <if test="condField.isCollection">
                        subTypeId in
                        <foreach collection="condField.condValue" index="index" item="item" open="(" separator=","
                                 close=")">
                            #{item}
                        </foreach>
                        AND
                    </if>
                </if>
                <if test="condField.fieldName == 'customer2'">
                    <if test="condField.isLike">
                        customer2 LIKE #{condField.condValue} AND
                    </if>
                    <if test="condField.isEqual">
                        customer2 = #{condField.condValue} AND
                    </if>
                    <if test="condField.isCollection">
                        customer2 in
                        <foreach collection="condField.condValue" index="index" item="item" open="(" separator=","
                                 close=")">
                            #{item}
                        </foreach>
                        AND
                    </if>
                </if>
                <if test="condField.fieldName == 'OR_COMPLEX_FIELD'">

                    <foreach collection="condField.condValue.fields" index="index" item="orField" open="(" separator=" OR " close=")">
                        <if test="orField.fieldName == 'subTypeId'">
                            <if test="orField.isLike">
                                subTypeId LIKE #{condField.condValue}
                            </if>
                            <if test="orField.isEqual">
                                subTypeId = #{condField.condValue}
                            </if>
                            <if test="orField.isCollection">
                                subTypeId in
                                <foreach collection="orField.condValue" index="index" item="item" open="(" separator="," close=")">
                                    #{item}
                                </foreach>
                            </if>
                        </if>
                        <if test="orField.fieldName == 'id'">
                            <if test="orField.isLike">
                                id like #{orField.condValue}
                            </if>
                            <if test="orField.isEqual">
                                id = #{orField.condValue}
                            </if>
                        </if>
                    </foreach>
                    AND
                </if>
            </foreach>
        </if>
    </sql>

    <select id="getIssueCount" resultType="int">
        SELECT
        COUNT(1)
        FROM issue WHERE
        <include refid="where_cond_field"/>
        1 = 1
    </select>

    <select id="getInvalidLinkCount" resultType="int">
        SELECT count(1)
        FROM issue
        WHERE isResolved = 0
        AND subTypeId = 11
        <include refid="Query_Condition_IssueBase"/>
        <include refid="Query_StartEndTime_IssueBase"/>
    </select>

    <select id="getInvalidImageCount" resultType="int">
        SELECT count(1)
        FROM issue
        WHERE isResolved = 0
        AND subTypeId = 12
        <include refid="Query_Condition_IssueBase"/>
        <include refid="Query_StartEndTime_IssueBase"/>
    </select>

    <select id="getConnTimeoutCount" resultType="int">
        SELECT count(1)
        FROM issue
        WHERE isResolved = 0
        AND subTypeId = 13
        <include refid="Query_Condition_IssueBase"/>
        <include refid="Query_StartEndTime_IssueBase"/>
    </select>

    <select id="getUnhandledIssueCount" resultType="int">
        SELECT count(1)
        FROM issue
        WHERE isResolved = 0
        <include refid="Query_Condition_IssueBase"/>
        <include refid="Query_StartEndTime_IssueBase"/>
        <include refid="Query_Search_IssueBase"/>
    </select>

    <select id="getIssueHistoryCount" resultType="int">
        SELECT count(1)
        FROM issue
        WHERE 1=1
        <include refid="Query_Condition_IssueBase"/>
        <include refid="Query_StartEndTime_IssueBase"/>
    </select>


    <select id="getIssueList" resultMap="linkAvailabilityMap">
        SELECT id,
        subTypeId,
        detail,
        customer1,
        issueTime
        FROM issue
        WHERE isResolved = 0
        <include refid="Query_Condition_IssueBase"/>
        <include refid="Query_StartEndTime_IssueBase"/>
        <include refid="Query_Search_IssueBase"/>
        limit #{startIndex},#{pageSize}
    </select>

    <select id="getIssueListBySql" resultMap="linkAvailabilityMap">
        SELECT
        id,
        subTypeId,
        detail,
        customer1,
        issueTime
        FROM issue WHERE
        <include refid="where_cond_field"/>
         1 = 1

        <if test="sortFields != null">
          ORDER BY
            <foreach collection="condField.condValue" index="index" item="item" open="(" separator="," close=")">
                <if test="item.fieldName == 'id'">
                  id
                    <if test="item.isAsc">
                      ASC
                    </if>
                    <if test="!item.isAsc">
                      DESC
                    </if>
                </if>
            </foreach>
        </if>

        <if test="pager != null">
            limit #{pager.offset},#{pager.count}
        </if>
    </select>

    <insert id="batchInsertLinkAvailabilities" useGeneratedKeys="true" parameterType="java.util.List">
        INSERT INTO issue
        (`siteId`, `typeId`, `subTypeId`, `detail`, `issueTime`, `isResolved`, `isDel`, `customer1`, `customer2`,
        `customer3`)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{siteId}, #{issueTypeId}, 1, #{issueTypeId}, #{invalidLink}, #{})
        </foreach>

    </insert>

    <select id="getIndexAvailability" resultType="int">
        SELECT count(1)
        FROM issue
        WHERE issue.detail = #{indexUrl}
        AND isResolved = 0
        <include refid="Query_Condition_IssueBase"/>
        <include refid="Query_StartEndTime_IssueBase"/>
    </select>

    <select id="getIndexUrl" resultType="String">
        SELECT indexUrl
        FROM monitorsite
        WHERE siteId = #{issueBase.siteId}
    </select>

    <select id="getMonitorTime" resultType="java.sql.Date">
        SELECT issueTime
        FROM issue
        WHERE issue.detail = #{indexUrl}
        AND isResolved = 0
        <include refid="Query_Condition_IssueBase"/>
        <include refid="Query_StartEndTime_IssueBase"/>
    </select>

</mapper>