<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trs.gov.kpi.dao.LinkAvailabilityMapper">


    <resultMap id="linkAvailabilityMap" type="com.trs.gov.kpi.entity.LinkAvailability">
        <id column="id" property="id"/>
        <result column="subTypeId" property="issueTypeId"/>
        <result column="detail" property="invalidLink"/>
        <result column="customer1" property="snapshot"/>
        <result column="issueTime" property="checkTime"/>
        <result column="beginDateTime" property="beginDateTime"/>
        <result column="endDateTime" property="endDateTime"/>
    </resultMap>

    <select id="getHandledIssueCount" parameterType="int" resultType="int">
        SELECT count(1) FROM issue WHERE isResolved IN (1,2) AND siteId = #{siteId} AND  typeId = 1
    </select>

    <select id="getUnhandledIssueCount" parameterType="int" resultType="int">
        SELECT count(1) FROM issue WHERE isResolved = 0 AND siteId = #{siteId} AND  typeId = 1
    </select>

    <!--<select id="getUnhandledIssueCountByTime" resultType="int">-->
    <!--select count(1) from issue_link where checkTime-->
    <!--<![CDATA[-->
    <!--<-->
    <!--]]>-->
    <!--#{checkTime} and isResolved=0 and siteId = #{siteId}-->
    <!--</select>-->


    <select id="getIssueList" resultMap="linkAvailabilityMap">
        SELECT id,
        subTypeId,
        detail,
        customer1,
        issueTime
        FROM issue
        WHERE siteId = #{linkAvailability.siteId,jdbcType=INTEGER}
        <if test="linkAvailability.id != null">
            AND id LIKE concat('%',#{linkAvailability.id,jdbcType=VARCHAR},'%')
        </if>
        <if test="linkAvailability.search != null">
            AND id LIKE concat('%',#{linkAvailability.search,jdbcType=VARCHAR},'%')
        </if>
        <if test="linkAvailability.beginDateTime != null">
            AND issueTime
            <![CDATA[
            >
            ]]>
            #{linkAvailability.beginDateTime,jdbcType=DATE}
        </if>
        <if test="linkAvailability.endDateTime != null">
            AND issueTime
            <![CDATA[
            <
            ]]>
            #{linkAvailability.endDateTime,jdbcType=DATE}
        </if>
        AND typeId = 1
        AND isResolved = 0
        limit #{currPage},#{pageSize}
    </select>

    <update id="handIssueById" parameterType="int">
        UPDATE issue
        SET    isResolved = 1
        WHERE  siteId = #{siteId}
        AND    id = #{id}
    </update>

    <update id="handIssuesByIds" parameterType="java.util.List">
        UPDATE issue
        SET isResolved = 1
        WHERE siteId = ${siteId}
        AND id IN
        <foreach collection="ids" item="item" open="(" close=")" separator=",">
            ${item}
        </foreach>
    </update>

    <update id="ignoreIssueById" parameterType="int">
        UPDATE issue
        SET    isResolved = 2
        WHERE  siteId = #{siteId}
        AND    id = #{id}
    </update>

    <update id="ignoreIssuesByIds" parameterType="java.util.List">
        UPDATE issue
        SET isResolved = 2
        WHERE siteId = ${siteId}
        AND id IN
        <foreach collection="ids" item="item" open="(" close=")" separator=",">
            ${item}
        </foreach>
    </update>

    <update id="delIssueByIds" parameterType="java.util.List">
        UPDATE issue
        SET isDel = 1
        WHERE siteId = ${siteId}
        AND id IN
        <foreach collection="ids" item="item" open="(" close=")" separator=",">
            ${item}
        </foreach>
    </update>

</mapper>