<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trs.gov.kpi.dao.LinkAvailabilityMapper">


    <resultMap id="linkAvailabilityMap" type="com.trs.gov.kpi.entity.LinkAvailability">
        <id column="id" property="id"/>
        <result column="subTypeId" property="issueTypeId"/>
        <result column="detail" property="invalidLink"/>
        <result column="customer1" property="snapshot"/>
        <result column="issueTime" property="checkTime"/>
        <result column="beginDateTime" property="beginDateTime"/>
        <result column="endDateTime" property="endDateTime"/>
    </resultMap>

    <select id="getHandledIssueCount" resultType="int">
        SELECT count(1)
        FROM issue
        WHERE isResolved IN (1,2)
        AND siteId = #{issueBase.siteId}
        AND typeId = 1
        <if test="issueBase.beginDateTime != null and issueBase.beginDateTime != ''">
            AND issueTime
            <![CDATA[
                >
                ]]>
            #{issueBase.beginDateTime}
        </if>
        <if test="issueBase.endDateTime != null and issueBase.endDateTime != ''">
            AND issueTime
            <![CDATA[
            <
            ]]>
            #{issueBase.endDateTime}
        </if>
    </select>

    <select id="getUnhandledIssueCount" resultType="int">
        SELECT count(1)
        FROM issue
        WHERE isResolved = 0
        AND siteId = #{issueBase.siteId}
        AND typeId = 1
        <if test="issueBase.searchField == 'id'">
            AND id LIKE concat('%',#{issueBase.searchText,jdbcType=VARCHAR},'%')
        </if>
        <if test="issueBase.searchField == 'issueType' and issueBase.searchText != ''">
            AND subTypeId IN (
            <foreach collection="issueBase.ids" item="item" separator=",">
                #{item}
            </foreach>
            )
        </if>
        <if test="issueBase.searchField == null or issueBase.searchField == ''">
            AND (
            id LIKE concat('%',#{issueBase.searchText,jdbcType=VARCHAR},'%')
            OR
            subTypeId IN (
            <foreach collection="issueBase.ids" item="item" separator=",">
                #{item}
            </foreach>
            )
            )
        </if>
        <if test="issueBase.beginDateTime != null and issueBase.beginDateTime != ''">
            AND issueTime
            <![CDATA[
            >
            ]]>
            #{issueBase.beginDateTime}
        </if>
        <if test="issueBase.endDateTime != null and issueBase.endDateTime != ''">
            AND issueTime
            <![CDATA[
            <
            ]]>
            #{issueBase.endDateTime}
        </if>
    </select>

    <select id="getIssueHistoryCount" resultType="int">
        SELECT count(1)
        FROM issue
        WHERE siteId = #{linkAvailability.siteId}
        AND typeId = 1
        <if test="linkAvailability.beginDateTime != null">
            AND issueTime
            <![CDATA[
            >
            ]]>
            #{linkAvailability.beginDateTime}
        </if>
        <if test="linkAvailability.endDateTime != null">
            AND issueTime
            <![CDATA[
            <
            ]]>
            #{linkAvailability.endDateTime}
        </if>
    </select>


    <select id="getIssueList" resultMap="linkAvailabilityMap">
        SELECT id,
        subTypeId,
        detail,
        customer1,
        issueTime
        FROM issue
        WHERE siteId = #{linkAvailability.siteId,jdbcType=INTEGER}
        <if test="linkAvailability.searchField == 'id'">
            AND id LIKE concat('%',#{linkAvailability.searchText,jdbcType=VARCHAR},'%')
        </if>
        <if test="linkAvailability.searchField == 'issueType' and linkAvailability.searchText != ''" >
            AND subTypeId IN (
            <foreach collection="linkAvailability.ids" item="item" separator=",">
                #{item}
            </foreach>
            )
        </if>
        <if test="linkAvailability.searchField == null or linkAvailability.searchField == ''">
            AND (
            id LIKE concat('%',#{linkAvailability.searchText,jdbcType=VARCHAR},'%')
            OR
            subTypeId IN (
            <foreach collection="linkAvailability.ids" item="item" separator=",">
                #{item}
            </foreach>
            )
            )
        </if>
        <if test="linkAvailability.beginDateTime != null and linkAvailability.beginDateTime != ''">
            AND issueTime
            <![CDATA[
            >
            ]]>
            #{linkAvailability.beginDateTime,jdbcType=DATE}
        </if>
        <if test="linkAvailability.endDateTime != null and linkAvailability.endDateTime != ''">
            AND issueTime
            <![CDATA[
            <
            ]]>
            #{linkAvailability.endDateTime,jdbcType=DATE}
        </if>
        AND typeId = 1
        AND isResolved = 0
        limit #{currPage},#{pageSize}
    </select>

    <insert id="batchInsertLinkAvailabilities" useGeneratedKeys="true" parameterType="java.util.List">
        INSERT INTO issue
        (`siteId`, `typeId`, `subTypeId`, `detail`, `issueTime`, `isResolved`, `isDel`, `customer1`, `customer2`,
        `customer3`)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{siteId}, #{issueTypeId}, 1, #{issueTypeId}, #{invalidLink}, #{})
        </foreach>

    </insert>

</mapper>