<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trs.gov.kpi.dao.ReportMapper">


    <select id="getMonitorTime" resultType="TIMESTAMP">
        SELECT max(endTime)
        FROM monitortime
        WHERE siteId = #{siteId}
        AND typeId = #{typeId}
    </select>

    <insert id="insertMonitorTime">
        INSERT INTO monitortime
        (siteId,typeId,startTime,endTime)
        VALUES (#{monitorTime.siteId},#{monitorTime.typeId},#{monitorTime.startTime},#{monitorTime.endTime})
    </insert>

</mapper>