<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trs.gov.kpi.dao.WebPageMapper">
    <resultMap id="ReplySpeedMap" type="com.trs.gov.kpi.entity.ReplySpeed">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="chnlId" jdbcType="INTEGER" property="chnlId"/>
        <result column="pageLink" jdbcType="VARCHAR" property="pageLink"/>
        <result column="replySpeed" jdbcType="VARCHAR" property="replySpeed"/>
        <result column="pageSpace" jdbcType="VARCHAR" property="pageSpace"/>
        <result column="checkTime" jdbcType="DATE" property="checkTime"/>
    </resultMap>

    <resultMap id="PageSpaceMap" type="com.trs.gov.kpi.entity.PageSpace">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="chnlId" jdbcType="INTEGER" property="chnlId"/>
        <result column="pageLink" jdbcType="VARCHAR" property="pageLink"/>
        <result column="replySpeed" jdbcType="VARCHAR" property="replySpeed"/>
        <result column="pageSpace" jdbcType="VARCHAR" property="pageSpace"/>
        <result column="checkTime" jdbcType="DATE" property="checkTime"/>
    </resultMap>

    <resultMap id="PageDepthMap" type="com.trs.gov.kpi.entity.PageDepth">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="chnlId" jdbcType="INTEGER" property="chnlId"/>
        <result column="pageLink" jdbcType="VARCHAR" property="pageLink"/>
        <result column="pageDepth" jdbcType="INTEGER" property="pageDepth"/>
        <result column="pageSpace" jdbcType="VARCHAR" property="pageSpace"/>
        <result column="checkTime" jdbcType="DATE" property="checkTime"/>
    </resultMap>

    <resultMap id="RepeatCodeMap" type="com.trs.gov.kpi.entity.RepeatCode">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="chnlId" jdbcType="INTEGER" property="chnlId"/>
        <result column="repeatPlace" jdbcType="INTEGER" property="repeatPlace"/>
        <result column="repeatDegree" jdbcType="VARCHAR" property="repeatDegree"/>
        <result column="updateTime" jdbcType="DATE" property="updateTime"/>
        <result column="checkTime" jdbcType="DATE" property="checkTime"/>
    </resultMap>

    <resultMap id="UrlLengthMap" type="com.trs.gov.kpi.entity.UrlLength">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="chnlId" jdbcType="INTEGER" property="chnlId"/>
        <result column="pageLink" jdbcType="VARCHAR" property="pageLink"/>
        <result column="urlLength" jdbcType="VARCHAR" property="urlLength"/>
        <result column="pageSpace" jdbcType="VARCHAR" property="pageSpace"/>
        <result column="checkTime" jdbcType="DATE" property="checkTime"/>
    </resultMap>

    <select id="selectReplySpeed" parameterType="com.trs.gov.kpi.entity.dao.QueryFilter" resultMap="ReplySpeedMap">
        SELECT
        *
        FROM webpage WHERE 1=1
        <include refid="com.trs.gov.kpi.dao.IssueMapper.all_conditions_sql"/>
    </select>

    <select id="selectPageSpace" parameterType="com.trs.gov.kpi.entity.dao.QueryFilter" resultMap="PageSpaceMap">
        SELECT
        *
        FROM webpage WHERE 1=1
        <include refid="com.trs.gov.kpi.dao.IssueMapper.all_conditions_sql"/>
    </select>

    <select id="selectPageDepth" parameterType="com.trs.gov.kpi.entity.dao.QueryFilter" resultMap="PageDepthMap">
        SELECT
        *
        FROM webpage WHERE 1=1
        <include refid="com.trs.gov.kpi.dao.IssueMapper.all_conditions_sql"/>
    </select>

    <select id="selectRepeatCode" parameterType="com.trs.gov.kpi.entity.dao.QueryFilter" resultMap="RepeatCodeMap">
        SELECT
        *
        FROM webpage WHERE 1=1
        <include refid="com.trs.gov.kpi.dao.IssueMapper.all_conditions_sql"/>
    </select>

    <select id="selectUrlLength" parameterType="com.trs.gov.kpi.entity.dao.QueryFilter" resultMap="UrlLengthMap">
        SELECT
        *
        FROM webpage WHERE 1=1
        <include refid="com.trs.gov.kpi.dao.IssueMapper.all_conditions_sql"/>
    </select>

    <select id="count" parameterType="com.trs.gov.kpi.entity.dao.QueryFilter" resultType="int">
        SELECT
        count(1)
        FROM webpage WHERE 1=1
        <include refid="all_conditions_sql"/>
    </select>

    <sql id="all_conditions_sql">
        <include refid="where_sql"/>
        <include refid="group_sql"/>
        <include refid="order_sql"/>
        <include refid="page_sql"/>
    </sql>

    <sql id="where_sql">
        <if test="condFields != null">
            AND
            <foreach collection="condFields" item="condField" separator=" AND ">
                <include refid="where_foreach_field_sql"></include>
                <if test='condField.fieldName == "OR_COMPLEX_FIELD"'>
                    <foreach collection="condField.condValue.fields" index="index" item="condField" open="("
                             separator=" OR " close=")">
                        <include refid="where_foreach_field_sql"></include>
                    </foreach>
                </if>
            </foreach>
        </if>
    </sql>

    <sql id="where_foreach_field_sql">
        <foreach collection="fieldNames" item="fieldName">
            <if test="condField.fieldName == fieldName">
                <if test="condField.isLike">
                    ${fieldName} like #{condField.condValue}
                </if>
                <if test="condField.isEqual">
                    ${fieldName} = #{condField.condValue}
                </if>
                <if test="condField.isRangeBegin">
                    ${fieldName}
                    <![CDATA[
                       >=
                      ]]>
                    #{condField.condValue}
                </if>
                <if test="condField.isRangeEnd">
                    ${fieldName}
                    <![CDATA[
                         <=
                      ]]>
                    #{condField.condValue}
                </if>
                <if test="condField.isCollection">
                    ${fieldName} in
                    <foreach collection="condField.condValue" index="index" item="item" open="(" separator=","
                             close=")">
                        #{item}
                    </foreach>
                </if>
            </if>
        </foreach>
    </sql>

    <sql id="order_sql">
        <if test="sortFields != null">
            ORDER BY
            <foreach collection="sortFields" item="sortField" separator=",">
                <foreach collection="fieldNames" item="fieldName">
                    <if test='sortField.fieldName == fieldName'>
                        ${fieldName}
                        <if test="sortField.isAsc">
                            ASC
                        </if>
                        <if test="!sortField.isAsc">
                            DESC
                        </if>
                    </if>
                </foreach>
            </foreach>
        </if>
    </sql>

    <sql id="group_sql">
        <if test="groupFields != null">
            GROUP BY
            <foreach collection="groupFields" item="groupField" separator=",">
                ${groupField}
            </foreach>
        </if>
    </sql>

    <sql id="page_sql">
        <if test="pager != null">
            limit #{pager.offset},#{pager.count}
        </if>
    </sql>

    <sql id="siteid_and_ids_where_sql">
        WHERE siteId = ${siteId}
        AND id IN
        <foreach collection="ids" item="item" open="(" close=")" separator=",">
            ${item}
        </foreach>
    </sql>

    <update id="handlePageByIds" parameterType="java.util.List">
        UPDATE webpage
        SET isResolved = 1
        <include refid="siteid_and_ids_where_sql"/>
    </update>

    <update id="ignorePageByIds" parameterType="java.util.List">
        UPDATE webpage
        SET isResolved = 2
        <include refid="siteid_and_ids_where_sql"/>
    </update>

    <update id="delPageByIds" parameterType="java.util.List">
        UPDATE webpage
        SET isDel = 1
        <include refid="siteid_and_ids_where_sql"/>
    </update>

    <select id="getEarliestCheckTime" resultType="java.util.Date">
        SELECT min(checkTime)
        FROM webpage
    </select>

</mapper>