<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trs.gov.kpi.dao.WkAllStatsMapper">

    <resultMap id="BaseResultMap" type="com.trs.gov.kpi.entity.wangkang.WkAllStats">
        <result column="checkId" jdbcType="INTEGER" property="checkId" />
        <result column="siteId" jdbcType="INTEGER" property="siteId" />
        <result column="updateContent" jdbcType="INTEGER" property="updateContent" />
        <result column="avgSpeed" jdbcType="INTEGER" property="avgSpeed" />
        <result column="errorInfo" jdbcType="INTEGER" property="errorInfo" />
        <result column="invalidLink" jdbcType="INTEGER" property="invalidLink" />
    </resultMap>
    <sql id="Base_Column_List">
        checkId, siteId, updateContent, avgSpeed, errorInfo, invalidLink
    </sql>



    <select id="select" resultType="com.trs.gov.kpi.entity.wangkang.WkAllStats">
        SELECT
        *
        FROM ${filter.table.tableName} WHERE 1=1
        <include refid="com.trs.gov.kpi.dao.CommonMapper.all_conditions_sql"/>
    </select>

    <select id="selectOnce" resultType="com.trs.gov.kpi.entity.wangkang.WkAllStats">
        SELECT
        *
        FROM ${filter.table.tableName} WHERE 1=1
        <include refid="com.trs.gov.kpi.dao.CommonMapper.all_conditions_sql"/>
    </select>


</mapper>