<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trs.gov.kpi.dao.WkRecordMapper">

    <resultMap id="BaseResultMap" type="com.trs.gov.kpi.entity.wangkang.WkRecord">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="checkId" jdbcType="INTEGER" property="checkId" />
        <result column="siteId" jdbcType="INTEGER" property="siteId" />
        <result column="typeId" jdbcType="INTEGER" property="typeId" />
        <result column="checkTime" jdbcType="TIMESTAMP" property="checkTime" />
        <result column="avgSpeed" jdbcType="INTEGER" property="avgSpeed" />
        <result column="updateContent" jdbcType="INTEGER" property="updateContent" />
    </resultMap>
    <sql id="Base_Column_List">
        id, checkId, siteId, typeId, checkTime, avgSpeed, updateContent
    </sql>

    <select id="getWkRecordAvgSpeed" resultType="int">
        select
          avgSpeed
        from wkrecord
        where siteId = #{siteId,jdbcType=INTEGER}
        AND  checkId = #{checkId,jdbcType=INTEGER}
        AND typeId = #{typeId,jdbcType=INTEGER}
    </select>

    <select id="getWkRecordUpdateContent" resultType="int">
        select
        updateContent
        from wkrecord
        where siteId = #{siteId,jdbcType=INTEGER}
        AND  checkId = #{checkId,jdbcType=INTEGER}
        AND typeId = #{typeId,jdbcType=INTEGER}
    </select>

    <insert id="insert" parameterType="com.trs.gov.kpi.entity.dao.DBRow">
        insert into wkrecord
        <foreach collection="fields" item="fieldName" open="(" separator="," close=")">
            ${fieldName}
        </foreach>
        values
        <foreach collection="values" item="value" open="(" separator="," close=")">
            #{value}
        </foreach>
    </insert>

</mapper>